@use "../utilities/mixin" as m;
@use "../utilities/variables" as v;


.hero{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 100vh;
    background: linear-gradient(#0000007f, #00000081), url(../assets/barberia.jpg) no-repeat center / cover;
}
.contenedor-hero{
    max-width: 90%;
    justify-content:flex-start;
    align-items: center;
    margin-left: 2rem;
}
h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 800;
    font-size: 9.5rem;
    color: v.$letra-especial;
}
.frase{
    font-size: 2.5rem;
    font-weight: 600;
    font-family: "Bebas Neue", sans-serif;
    color: v.$letra-subespecial;
}
.descripcion{
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Shanti", sans-serif;
    color: v.$letra-texto;
    max-width: 60%;
}