@use "../utilities/mixin" as m;
@use "../utilities/variables" as v;

.navbar {
    background-color: #1f1f1f;
    align-items: center;
}

.container-fluid {
    background-color: #00000000;
}

.navbar-nav {
    gap: 2rem;
}

.navbar-brand {
    display: inline-block;
    color: v.$color-dorado;
    font-family: Verdana, sans-serif;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 3px;
    padding: 1px 5px;
    border-radius: 5px;
    border: 2px solid v.$color-dorado;

    &:hover {
        color: v.$color-dorado;
    }
}

.nav-link {
    color: v.$letra-texto;
    font-size: 18px;
    font-family: 'Lucida Grande', sans-serif;
    font-weight: 500;

    transition: all 0.5s ease-out;

    &:hover {
        color: #ffdd00;
        border-bottom: 2px solid #ffdd00;
    }
}