@use "../utilities/mixin" as m;
@use "../utilities/variables" as v;

.servicios {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background: linear-gradient(#0000007f, #00000081), url(../assets/barber-dentro.webp) no-repeat center / cover;
    gap: 1.5rem;
    padding-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.title-description {
    @include m.dis-flex;
    width: 100%;
    margin-top: 15px;
}

.titulo-estandar {
    color: v.$letra-especial;
    font-family: v.$fuente-titulo;
    font-weight: 600;
    font-size: 5rem;
    text-align: center;
}

.marquee {
    overflow: hidden;
    white-space: nowrap;
    background-color: v.$color-dorado;
    padding: 17px;
    width: 100%;
}

.marquee-item {
    font-family: v.$fuente-texto;
    font-size: 20px;

    &::after {
        content: '\2022';
        margin: 0 15px;
    }
}

.marquee-contenido {
    display: inline-flex;
    animation: desplazar 25s linear infinite;
}

.marquee:hover .marquee-contenido {
    animation-play-state: paused;
}

@keyframes desplazar {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}

// Seccion cortes-servicios
.cortes-servicios{
    margin: 1rem 20px;
}
.reservar{
    text-align: center;
}

.corte-item{
    background-color: #323232;
    border: 2px solid v.$color-dorado;
    max-width: 750px;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    padding: 1rem;
    gap: 18px;

    transition: all 0.2s linear;

    &:hover{
        box-shadow: 0 3px 5px #a07d0a;
        transform: translateY(-7px);
    }
}
.foto-corte{
    width: 120px;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}
.descripcion-corte{
    justify-content: flex-start;
    margin-left: 5px;
}
.tit-desc-corte{
    color:white;
    font-family: v.$fuente-texto;
    font-weight: 600;
    letter-spacing: 1px;
}
.desc-corte{
    color: v.$letra-subespecial;
    font-family: v.$fuente-texto;
    font-weight: 600;
    font-size: 19px;
}
.precio{
    color: v.$letra-especial;
    font-family: v.$fuente-texto;
    font-weight: 500;
    font-size: 20px;
}