// Variables de colores
$letra-especial:#e3b829;
$letra-subespecial:#bababa;
$letra-texto:#edecec;
$color-dorado:#cda10f;
$boton-gradiente: linear-gradient(to right, #dab22f, #c92020);

// FUENTES DE VS CODE STUDIO
// font-family: Impact, sans-serif; --TÍTULOS
// font-family: 'Gill Sans', sans-serif; -- TEXTO