@use "../utilities/mixin" as m;
@use "../utilities/variables" as v;

.boton{
    display: inline-block;
    text-decoration: none;
    color:#412402;
    background-color: v.$color-dorado;
    background-size: 600% 600%;
    font-family: "Geologica", sans-serif;
    font-size: 18px;
    font-weight: 550;
    padding: 1rem;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 1rem;

    transition: all 0.5s linear;

    &:hover{
        box-shadow: 0 8px 16px #d4af3759;
    }
}